.homePage {
    display: flex;
    flex-direction: column;

}


.images {
    padding: 1rem;
    max-height: 50rem;
    max-width: 40rem;
    
    @media screen and (max-width: 600px)  {
        width: 100%;
    }
}